<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório monday</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="form-area">
        <h1>Upload do arquivo excel</h1>
        <form action="/process" method="post" enctype="multipart/form-data">
            <label for="file" class="label">Escolha o arquivo:</br></label>
            <input type="file" name="file" accept=".xlsx" required><br><br>

            <label for="inicio_date" class="label">Data inicial:</label>
            <input type="date" name="inicio_date" required><br><br>

            <label for="fim_date" class="label">Data final:</label>
            <input type="date" name="fim_date" required><br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
